<aside class="navbar navbar-vertical sidebar-box-shadow-light theme-bg-primary navbar-expand-lg   pt-2 pb-4"
    id="sidebar" style=" display: grid; width: 160px;display: grid;height: 715px;background: aliceblue;">
    <div class="main" style="margin-top: -326%;margin-left: 18px;display: grid;text-align: center;color: cornflowerblue;">
        <h3 style="font-size: x-large;
        font-family: sans-serif;">Welcome</h3>

        <!-- <p>{{user.email}}</p> -->
        <button class="btn" [routerLink]="['/post']" routerLinkActive="router-link-active"><span class=""
                style="font-size: larger;color: cornflowerblue; font-family: cursive;font-weight: 200;">Post</span></button>
        <button class="btn" [routerLink]="['/Album']" routerLinkActive="router-link-active"> <span class=""
                style="font-size: larger;color: cornflowerblue; font-family: cursive;font-weight: 200;">Albums</span></button>
    </div>
</aside>