<div class="" style="display:flex;position: fixed;">
    <!-- <app-header></app-header> -->
    <app-side-nav></app-side-nav>

</div>
<div class="top">
</div>
<div style="margin-left:125px">

    <div class="container-sm" >

        <h3 class="text-left mt-5" style="font-size:x-large;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"><b>Post Details</b></h3>
        <!-- <div *ngIf="Emp.length == 0; else elseBlock">Nothing to display</div> -->
        <!-- <ng-template #elseBlock> -->
        <div class="row"style="text-align: start;
        justify-content: center;
        margin-top: 10%;" >
            <div class="col-sm-4"  style="cursor: pointer;">
                <div class="card my-3  ">
                    <div class="container-sm">
                        <div class="card-body"style="font-size: larger; font: weight 200px;">
                            <p class=""><strong>UserId:</strong>{{Emp['userId']}}</p>
                            <p class=""><strong>Id:</strong> {{Emp['id']}}</p>                            
                            <p class=""><strong>Title:</strong>&nbsp; {{Emp['title']}}</p>
                            <p class="card-text" ><strong>Body:</strong>&nbsp;{{Emp['body']}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- </ng-template> -->
    </div>
    </div>